[production]
user deployer
host server
port (PORT)
repo repo url
path /var/www/deploy
post-deploy ./restart


[stage]
user deployer
host stage-server
port (PORT)
repo repo url
path /var/www/deploy-stage
post-deploy ./restart stage
ref origin/develop

[website]
user deployer
host web-server
port (PORT)
repo repo url
path /var/www/website
ref origin/master
deployhook web-repo-name